body{
	font-family: 'Special Elite', Verdana, Geneva, sans-serif;
	color: #444444;
}
.jumbotron{
	background-color: rgb(169, 223, 169);
	color: rgb(4, 49, 4);
	font-family: 'Abril Fatface', "Times New Roman", serif;
	margin-top: 5%;
	margin-bottom: 3%;
	padding-top: .5%;
	padding-bottom: 2%;
}
@media screen and (max-width: 767px){
	img{
		width: 50% !important;
	}
	.left{
		padding-top: 20px;
	}
}
h2{
	font-family: 'Sigmar One', Verdana, Geneva, sans-serif;
	color: green;
}
img{
	border-radius: 6px;
	width: 100%;
}
#currentWord, #guessesLeft, #lettersGuessed, #wins, #losses{
	font-size: 24px;
}
.left{
	background-color: rgb(169, 223, 169);
	border-radius: 6px;
}
.right{
	padding-right: 0;
}
.row{
	border-radius: 6px;
}

.row.match-my-cols {
    overflow: hidden; 
}
.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}